@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;900&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Noto Sans TC", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  color: #fff;
  text-decoration: none;
  display: inline-block;
}

a:hover {
  opacity: 0.9;
}

img {
  vertical-align: middle;
  -o-object-fit: contain;
     object-fit: contain;
  max-width: 100%;
}

label {
  font-size: 0.875rem;
  margin-bottom: 6px;
}

input:not([type="radio"]) {
  border: 1px solid #ccc;
  width: 100%;
  padding: 5px 14px;
  font-size: 1rem;
  color: #4a4a4a;
  outline: none;
}

header {
  background: rgba(0, 0, 0, 0.75);
  position: fixed;
  z-index: 10;
  width: 100%;
}

header .logo {
  background: url(../../assets/logo_w.png);
  background: url(../../assets/logo_w@svg.svg);
  width: 120px;
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
}

@media screen and (max-width: 576px) {
  header .nav {
    visibility: hidden;
  }
}

header .nav .ham-menu {
  visibility: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 576px) {
  header .nav .ham-menu {
    visibility: visible;
  }
}

.banner {
  background: right/cover url(../../assets/header_desktop.png);
  height: 420px;
}

@media screen and (max-width: 576px) {
  .banner {
    background: center/cover url(../../assets/header_mobile.png);
  }
}

.banner-title {
  background: rgba(0, 0, 0, 0.35);
  padding: 20px 32px 26px;
}

.btn {
  padding: 6px 20px;
  font-size: 0.875rem;
  border-radius: 3px;
}

.btn-secondary {
  background: #f56c23;
  border: solid 1px transparent;
}

.btn-secondary:hover {
  opacity: 1;
  border: solid 1px #f56c23;
  background: transparent;
  color: #f56c23;
}

.btn-outline-secondary {
  border: solid 1px #f56c23;
  color: #f56c23;
}

.btn-outline-secondary:hover {
  background: #f56c23;
  border: solid 1px transparent;
  color: #fff;
}

.btn-gray {
  background: rgba(0, 0, 0, 0.35);
}

.btn-gray:hover {
  opacity: 1;
  border: solid 1px rgba(0, 0, 0, 0.35);
  background: transparent;
  color: rgba(0, 0, 0, 0.35);
}

footer .logo {
  margin-bottom: 22px;
}

footer .contact li {
  list-style: initial;
  margin-left: 1.25rem;
}

footer .logo,
.login .logo {
  background: url(../../assets/logo_l.png) no-repeat;
  background: url(../../assets/logo_l@svg.svg) no-repeat;
  width: 244px;
  height: 49px;
}

.material-icons {
  font-size: 18px;
  vertical-align: middle;
}

.fa-square-facebook {
  color: #3a5795;
}

.fa-twitter {
  color: #41abe1;
}

.fa-square-google-plus {
  color: #db4437;
}

.fa-brands {
  font-size: 2.25rem;
}

.container {
  max-width: 940px;
  margin: 0 auto;
}

@media (max-width: 940px) {
  .container {
    padding-right: 10px;
    padding-left: 10px;
  }
}

.container-sm {
  max-width: 620px;
  margin: 0 auto;
}

@media screen and (max-width: 576px) {
  .container-sm {
    padding-right: 10px;
    padding-left: 10px;
  }
}

.container-xs {
  max-width: 300px;
  margin: 0 auto;
}

@media screen and (max-width: 576px) {
  .container-xs {
    padding-right: 10px;
    padding-left: 10px;
  }
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-900 {
  font-weight: 900;
}

.fs-1 {
  font-size: 3rem;
}

.fs-2 {
  font-size: 2.25rem;
}

.fs-3 {
  font-size: 1.5rem;
}

.fs-4 {
  font-size: 1.25rem;
}

.fs-5 {
  font-size: 1.125rem;
}

.fs-6 {
  font-size: 1rem;
}

.fs-7 {
  font-size: 0.875rem;
}

.fs-8 {
  font-size: 0.75rem;
}

.d-block {
  display: block;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.justify-content-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.justify-content-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.justify-content-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.align-items-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.align-items-start {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.pt-16 {
  padding-top: 16px;
}

.ps-16 {
  padding-left: 16px;
}

.pe-16 {
  padding-right: 16px;
}

.pb-16 {
  padding-bottom: 16px;
}

.px-16 {
  padding-left: 16px;
  padding-right: 16px;
}

.py-16 {
  padding-top: 16px;
  padding-bottom: 16px;
}

.py-18 {
  padding-top: 18px;
  padding-bottom: 18px;
}

.py-50 {
  padding-top: 50px;
  padding-bottom: 50px;
}

.me-12 {
  margin-right: 12px;
}

.me-16 {
  margin-right: 16px;
}

.me-20 {
  margin-right: 20px;
}

.me-26 {
  margin-right: 26px;
}

.me-30 {
  margin-right: 30px;
}

.me-36 {
  margin-right: 36px;
}

.mb-12 {
  margin-bottom: 12px;
}

.mb-16 {
  margin-bottom: 16px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-32 {
  margin-bottom: 32px;
}

.mb-36 {
  margin-bottom: 36px;
}

.my-22 {
  margin-top: 22px;
  margin-bottom: 22px;
}

.bg-light {
  background: rgba(250, 250, 250, 0.7);
}

.bg-dark {
  background: #efe9e7;
}

.bg-primary {
  background: #3d1101;
}

.text-white {
  color: #fff;
}

.text-primary {
  color: #3d1101;
}

.text-secondary {
  color: #f56c23;
}

.text-center {
  text-align: center;
}

.text-end {
  text-align: right;
}

.text-start {
  text-align-last: left;
}

.circle {
  border-radius: 50%;
}

.w-33 {
  width: 33.3333%;
}

.w-50 {
  width: 50%;
}

.w-66 {
  width: 66%;
}

.w-100 {
  width: 100%;
}

.mx-auto {
  margin-right: auto;
  margin-left: auto;
}

.ms-auto {
  margin-left: auto;
}

@media (max-width: 792px) and (min-width: 577px) {
  .flex-sp1-column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 767px) and (min-width: 577px) {
  .flex-sp-column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .me-sp-0 {
    margin-right: 0;
  }
  .px-sp-16 {
    padding-right: 16px;
    padding-left: 16px;
  }
  .py-sp-30 {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .w-sp-100 {
    width: 100%;
  }
  .mb-sp-30 {
    margin-bottom: 30px;
  }
  .w-sp-80 {
    width: 80%;
  }
}

@media screen and (max-width: 576px) {
  .flex-sm-column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .w-sm-100 {
    width: 100%;
  }
  .p-sm-0 {
    padding: 0;
  }
  .px-sm-16 {
    padding-right: 16px;
    padding-left: 16px;
  }
  .py-sm-30 {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .me-sm-0 {
    margin-right: 0;
  }
  .mb-sm-24 {
    margin-bottom: 24px;
  }
  .mb-sm-20 {
    margin-bottom: 20px;
  }
  .mb-sm-30 {
    margin-bottom: 30px;
  }
}

@media (max-width: 900px) {
  .chef-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
    margin: 0;
  }
}

.chef-img {
  background: top/cover url(../../assets/main_chef_brown.png);
  height: 460px;
  min-width: 373px;
}

@media (max-width: 900px) {
  .chef-img {
    height: 300px;
    width: 100%;
    margin-right: 0;
  }
}

@media screen and (max-width: 768px) {
  .chef-img {
    height: 460px;
  }
}

@media (max-width: 900px) {
  .chef-content {
    padding: 30px 16px;
  }
}

.deco-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.deco-line::before, .deco-line::after {
  content: "";
  display: inline-block;
  width: 120px;
  height: 1px;
  background: #3d1101;
}

@media screen and (max-width: 576px) {
  .deco-line::before, .deco-line::after {
    display: none;
  }
}

.deco-line::before {
  margin-right: 10px;
}

.deco-line::after {
  margin-left: 10px;
}

.login label {
  margin-bottom: 3px;
  display: block;
}

.login input {
  outline: none;
  border: none;
  background: none;
}

.login-box {
  margin-top: 36px;
  border-top: 3px solid #f56c23;
  padding: 15px;
  -webkit-box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.16);
          box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.16);
}

.login-item {
  border: solid 1px #ccc;
  padding: 8px 10px;
  border-radius: 3px;
  background: #fff;
}

.login .fa-envelop,
.login .fa-lock {
  color: rgba(61, 17, 1, 0.5);
}

.shop-category {
  margin-bottom: 24px;
}

@media (max-width: 792px) {
  .shop-category {
    margin-right: 0;
  }
}

.shop-category a {
  min-width: 220px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 8px;
  border-bottom: solid 1px #3d1101;
}

@media (max-width: 992px) {
  .shop-category a {
    width: 100%;
  }
}

.shop-category a:hover {
  background: #3d1101;
  color: #fff;
  opacity: 1;
}

.active {
  background: #3d1101;
  color: #fff;
}

.header {
  margin-bottom: 26px;
}

.search {
  border: solid 1px;
}

.search a {
  background: #3d1101;
  padding: 6px 12px;
}

.search input {
  border: none;
  background: none;
}

.shopping-cart .pay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.shopping-cart .pay::after {
  content: "";
  margin-right: 12px;
  margin-left: 12px;
  height: 14px;
  width: 2px;
  background: #3d1101;
}

.shopping-cart .shopping-num {
  position: relative;
}

.shopping-cart .shopping-num div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #f56c23;
  border-radius: 50%;
  font-size: 0.75rem;
  width: 16px;
  height: 16px;
  color: white;
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
}

.product ul {
  gap: 20px;
}

.product i {
  margin-right: 9px;
}

.product img {
  height: 120px;
  -o-object-fit: cover;
     object-fit: cover;
}

.product-item {
  width: 220px;
  background: #efe9e7;
  -webkit-box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.16);
          box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.16);
  position: relative;
}

@media (max-width: 970px) and (min-width: 400px) {
  .product-item {
    width: 48%;
  }
}

@media screen and (max-width: 576px) {
  .product-item {
    width: 100%;
  }
}

.product .like-btn {
  top: 0;
  left: 0;
  position: absolute;
  padding: 8px;
}

.product-content {
  text-align: center;
  padding: 10px;
}

.product-title {
  margin-bottom: 20px;
}

.product-title::after {
  content: "";
  display: block;
  margin: auto;
  margin-top: 8px;
  height: 1px;
  width: 91px;
  background: #3d1101;
}

.product .tag-wrap {
  overflow: hidden;
  width: 100px;
  height: 108px;
  position: absolute;
  top: -5px;
  right: -5px;
}

.product .tag-wrap .tag {
  width: 120px;
  background: #00cc99;
  font-size: 0.875rem;
  color: #fff;
  -webkit-transform: rotate(45deg) translateX(18%);
          transform: rotate(45deg) translateX(18%);
  text-align: center;
  position: relative;
  font-weight: 600;
}

.product .tag-wrap .tag::after {
  content: "";
  border-top: 4px solid #00a178;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  position: absolute;
  bottom: -5px;
  right: 11px;
}

.product .tag-wrap .tag::before {
  content: "";
  border-top: 4px solid #00a178;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  position: absolute;
  top: 21px;
  left: 12px;
}
/*# sourceMappingURL=all.css.map */