.chef {
  &-wrap {
    @media (max-width: 900px) {
      flex-direction: column;
      padding: 0;
      margin: 0;
    }
  }
  &-img {
    background: top/cover url(../assets/main_chef_brown.png);
    height: 460px;
    min-width: 373px;
    @media (max-width: 900px) {
      height: 300px;
      width: 100%;
      min-width: 100%;
      margin-right: 0 !important;
    }
    @include pad {
      height: 460px;
    }
  }
  &-content {
    @media (max-width: 900px) {
      padding: 30px 16px;
    }
  }
}

.deco-line {
  display: flex;
  align-items: center;
  justify-content: center;
  &::before,
  &::after {
    content: "";
    display: inline-block;
    width: 120px;
    height: 1px;
    background: $primary;
    @include mobile {
      display: none;
    }
  }
  &::before {
    margin-right: 10px;
  }
  &::after {
    margin-left: 10px;
  }
}

.booking {
  input:not([type="radio"]) {
    border: 1px solid #ccc;
    width: 100%;
    padding: 5px 14px;
  }
}

.map {
  &-content {
    @media (max-width: 476px) {
      flex-direction: column;
    }
  }
  img {
    width: 50%;
    object-fit: cover;
    @media (max-width: 476px) {
      width: 100%;
    }
  }
}
